<div class='row'>
	<div class='col-md-12'>
		<div class='row'>
			<div class='col-md-3'>
				<label> Upload the CSV file </label>
			</div>
			<div class='col-md-9'>
				<input type='file' id='myFile' name='filename' class='btn'>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12' id='table_content'>
	</div>
</div>